
.body-format {
  background-color: black;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
    grid-gap: 10px;
}

.div-header {
  display: flex;
  justify-content: center;
  /*margin-bottom: 10px;*/
}

.Titulo {
  color: #ffcc00;
  font-size: 2rem;
  padding: 10px;
}


/*Vamos aplicar a media para o tamanho dos dispositivos.*/

@media only screen and (max-width: 768px) {
    .image-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .image-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .image-container {
        grid-template-columns: repeat(6, 1fr);
    }
}
